<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2W6GVIqqJPMmVqITia0mTtq7VqEhCW9k</string>
	<key>GCM_SENDER_ID</key>
	<string>123464303848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tryDart</string>
	<key>PROJECT_ID</key>
	<string>movieticket-def85</string>
	<key>STORAGE_BUCKET</key>
	<string>movieticket-def85.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123464303848:ios:193e4b7baf4a6939b4755d</string>
</dict>
</plist>